extends layout

block content
  - const urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
  - const indexOpenings = ['Got a spare business idea? Why not share it so others can use it.', 'Let others know about your business. Share your website here.', 'Found an interesting blog post or article? Help others by sharing it!'];
  - openingPhrase = indexOpenings[parseInt((Math.random() * indexOpenings.length))]
  .gapA
  .bodyWrapper
    .sideBar
    .mainContent
      #title=openingPhrase
      if userId
        .formContainer
          button(onclick="openForm()")
            .shareForm
              i.fas.fa-pen-square <b> Add a post of your own!</b>
      #popupWrapper
        #popupForm
          form
            div(id="postContent" maxlength="1000" oninput="checkForLink()" contentEditable="true" data-text="What would you like to share?")
            #postLinkContainer
              img#postLinkImg
              b#postLinkTitle
              #postLinkDescription
            button(type="button" class="submitbtn" onclick="postSharedContent()") <b>Post</b>
            button(type="button" class="closebtn" onclick="closeForm()") <b>Close</b>
      .error= message
      each share in sharesList
        .contentsContainer
          .contents(id=`${share._id}`)
            .contentsHeader
              .publisher
                small Published by <a href="/user/#{share.publisherId}" style="font-weight:600;">#{share.publisher}</a>
              if userId
                i.fas.fa-caret-down
                  .postDropdown
                    if share.publisherId===userId
                      button Edit
                      button(onclick=`deletePost("${share._id}")`) Delete
                    if share.publisherId!==userId
                      button Report
            - let url = share.content.match(urlRegex);
            - if (url != null && url.length) {for (let i = 0; i < url.length; i++) {share.content = share.content.replace(url[i],`<a href="${url[i]}" target="_blank" style="color:blue;">${url[i]}</a>`);}}
            .postContents !{share.content}
            if share.linkImage || share.linkTitle || share.linkDescription
              a(href=`${url[0]}` target="_blank")
                .linkContents
                  if share.linkImage
                    img.linkImage(src=`${share.linkImage}`)
                  if share.linkTitle || share.linkDescription
                    .linkText
                      b.linkTitle #{share.linkTitle}
                      .linkDescription #{share.linkDescription}
            - if (share.likes.indexOf(userId) > -1) {likedOrNot = "color:blue";} else {likedOrNot = "";}
            .contentIcons
              i.far.fa-thumbs-up(onclick=`likePost("${share._id}")` id=`like-${share._id}` style=`${likedOrNot}`)
                small= share.likes.length
              i.far.fa-comment(onclick=`showComments("${share._id}")` id=`commentIcon-${share._id}`)
                small= share.comments.length
              i.fas.fa-bookmark
              i.fas.fa-share
                .shareDropdown
                  .shareDropdownContainer(onclick=`copyLink("${share._id}")`)
                    i.fas.fa-link
                    button Copy Link
                  a(href=`/shared-post/${share._id}` target="_blank")
                    .shareDropdownContainer
                      i.fas.fa-external-link-alt
                      button Open in Tab
          .commentsContainer(id=`commentsSection-${share._id}`)
            .postCommentContainer
              .commentBox
                .commentContent(id=`commentContent-${share._id}` contentEditable="true" data-text="Write a comment..." onkeydown=`submitComment("${share._id}")`)
            .commentsList
              each comment in share.comments
                .comment= comment
      if sharesList.length > 9
        .loadMoreWrapper
          .loadMoreContainer
            button
              .loadMore <b>Load more posts</b>
    .rightSideBar

  script
    | function openForm() {document.getElementById("popupWrapper").style.display="flex"; document.getElementById("popupForm").style.display="block";}
    | function closeForm() {document.getElementById("popupWrapper").style.display="none"; document.getElementById("popupForm").style.display="none";}
