extends layout

block content
  - const urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
  - const indexOpenings = ['Got a spare business idea? Why not share it so others can use it.', 'Let others know about your business. Share your website here.', 'Found an interesting blog post or article? Help others by sharing it!'];
  - openingPhrase = indexOpenings[parseInt((Math.random() * indexOpenings.length))]
  .gapA
  .bodyWrapper
    .sideBar
    .mainContent
      #title=openingPhrase
      if userId
        .formContainer
          button(onclick="openForm()")
            .shareForm
              i.fas.fa-pen-square <b> Add your own post!</b>
      #popupWrapper
        #popupForm
          form
            div(id="postContent" maxlength="1000" oninput="checkForLink()" contentEditable="true" data-text="What would you like to share?")
            #postLinkContainer
              img#postLinkImg
              b#postLinkTitle
              #postLinkDescription
            button(type="button" class="submitbtn" onclick="postSharedContent()") <b>Post</b>
            button(type="button" class="closebtn" onclick="closeForm()") <b>Close</b>
        #reportsForm
          .header <b>What seems to be the problem?</b>
          .content
            .option
              input(type="radio" name="problem" id="problem1" value="Content is spam or irrelevant")
              label(for="problem1") Content is spam or irrelevant
            .option
              input(type="radio" name="problem" id="problem2" value="Content is offensive")
              label(for="problem2") Content is offensive
            .option
              input(type="radio" name="problem" id="problem3" value="Content could be harmful")
              label(for="problem3") Content could be harmful
            .option
              input(type="radio" name="problem" id="problem4" value="Content could be used to commit fraud")
              label(for="problem4") Content is fraudulent
            .option
              input(type="radio" name="problem" id="problem5" value="Other")
              label(for="problem5") Other
          .buttons
            button(type="button" class="submitbtn" id="reportButton") <b>Report</b>
            button(type="button" class="closebtn" onclick="closeReportsForm()") <b>Cancel</b>
        #editPostForm
          .editContents
            #editPostText(contentEditable="true" oninput="checkForEditLink()")
            .editPostExtras
              img#postExtrasImage
              b#postExtrasTitle
              #postExtrasDescription
          .buttons
            button(type="button" class="submitbtn" id="editPostButton") <b>Update</b>
            button(type="button" class="closebtn" onclick="closeEditForm()") <b>Cancel</b>
      each share in sharesList
        .contentsContainer(id=`${share._id}`)
          .contents
            .contentsHeader
              .publisher
                small Published by <a href="/user/#{share.publisherId}" style="font-weight:600;">#{share.publisher}</a>
              if userId
                i.fas.fa-caret-down
                  .postDropdown
                    if share.publisherId===userId
                      button(onclick=`showEditForm("${share._id}")`) Edit
                      button(onclick=`deletePost("${share._id}")`) Delete
                    if share.publisherId!==userId
                      button(onclick=`showReportsForm("${share._id}")`) Report
            - let url = share.content.match(urlRegex);
            - if (url != null && url.length) {for (let i = 0; i < url.length; i++) {share.content = share.content.replace(url[i],`<a href="${url[i]}" target="_blank" style="color:blue;">${url[i]}</a>`);}}
            .postContents(id=`postContents-${share._id}`) !{share.content}
            if share.linkImage || share.linkTitle || share.linkDescription
              a(href=`${url[0]}` target="_blank")
                .linkContents
                  if share.linkImage
                    img.linkImage(src=`${share.linkImage}` id=`linkImage-${share._id}`)
                  if share.linkTitle || share.linkDescription
                    .linkText
                      b.linkTitle(id=`linkTitle-${share._id}`) #{share.linkTitle}
                      .linkDescription(id=`linkDescription-${share._id}`) #{share.linkDescription}
            - let likedOrNot; if (share.likes.indexOf(userId) > -1) {likedOrNot = "color:blue";} else {likedOrNot = "";}
            - let commentedOrNot; for (let i = 0; i < share.comments.length; i++) {if (share.comments[i].userId === userId) {commentedOrNot = "color:blue"; break;} else {commentedOrNot = "";}}
            - let bookmarkedOrNot; if (share.collections.indexOf(userId) > -1) {bookmarkedOrNot = "color:blue";} else {bookmarkedOrNot = "";}
            .contentIcons
              i.far.fa-thumbs-up(onclick=`likePost("${share._id}")` id=`like-${share._id}` style=`${likedOrNot}`)
                small= share.likes.length
              i.far.fa-comment(onclick=`showComments("${share._id}")` id=`commentIcon-${share._id}` style=`${commentedOrNot}`)
                small= share.comments.length
              i.fas.fa-bookmark(onclick=`addToCollection("${share._id}")` id=`bookmarkIcon-${share._id}` style=`${bookmarkedOrNot}`)
              i.fas.fa-share
                .shareDropdown
                  .shareDropdownContainer(onclick=`copyLink("${share._id}")`)
                    i.fas.fa-link
                    button Copy Link
                  a(href=`/shared-post/${share._id}` target="_blank")
                    .shareDropdownContainer
                      i.fas.fa-external-link-alt
                      button Open in Tab
          .commentsContainer(id=`commentsSection-${share._id}`)
            .postCommentContainer
              .commentBox
                .commentContent(id=`commentContent-${share._id}` contentEditable="true" data-text="Write a comment..." onkeydown=`submitComment("${share._id}")`)
            .commentsList(id=`commentsList-${share._id}`)
              each comment in share.comments
                .listedComment(id=`${comment._id}`)
                  .listedCommentContainer
                    .listedCommentAuthor(id=`${comment.userId}`)
                      small <a href="/user/#{comment.userId}" style="font-weight:600;">#{comment.userName}</a> says...
                    i.fas.fa-caret-down
                      .commentDropdown(id=`moreOptions-${comment._id}`)
                        if comment.userId === userId
                          button(onclick=`showCommentEdit("${comment._id}")`) Edit
                          button(onclick=`deleteComment("${comment._id}", "${share._id}")`) Delete
                        if comment.userId !== userId
                          button(onclick=`showReportsForm("${comment._id}")`) Report
                    .listedCommentContent(id=`listedCommentContent-${comment._id}`)= comment.content
                    .updateButtons(id=`updateButtons-${comment._id}`)
                  .listedCommentButtons
                    - let commentLikedOrNot; if (comment.likes.indexOf(userId) > -1) {commentLikedOrNot = "color:blue";} else {commentLikedOrNot = "";};
                    i.far.fa-thumbs-up(onclick=`likeComment("${comment._id}")` id=`commentLike-${comment._id}` style=`${commentLikedOrNot}`)
                      div #{comment.likes.length}
                    - let elapsedMessage;
                    - let elapsedTime = Math.floor((Date.now() - comment.commentedOn) / (1000 * 60));
                    - if (elapsedTime < 1) {elapsedMessage = "Just now...";} else if (elapsedTime == 1) {elapsedMessage = "1 minute ago"} else if (elapsedTime < 60) {elapsedMessage = `${elapsedTime} minutes ago`;} else if (elapsedTime < 120) {elapsedMessage = "1 hour ago";} else if (elapsedTime < 1440) {elapsedMessage = `${Math.floor(elapsedTime / 60)} hours ago`;} else if (elapsedTime < 2880) {elapsedMessage = "1 day ago";} else if (elapsedTime < 43200) {elapsedMessage = `${Math.floor(elapsedTime / (60 * 24))} days ago`;} else if (elapsedTime < 86400) {elapsedMessage = "1 month ago";} else if (elapsedTime < 525600) {elapsedMessage = `${Math.floor(elapsedTime / (60 * 24 * 30))} monthsago`;} else if (elapsedTime < 1051200) {elapsedMessage = "1 year ago";} else if (elapsedTime > 1051199) {elapsedMessage = `${Math.floor(elapsedTime / (60 * 24 * 365))} years ago`;}
                    .listedCommentDate !{elapsedMessage}
      if sharesList.length > 9
        .loadMoreWrapper
          .loadMoreContainer
            button
              .loadMore <b>Load more posts</b>
    .rightSideBar
