- let url = "http://localhost:3000";
- // if (process.env.NODE_ENV === "production") {URL = "https://your-URL.com";}

doctype html
html
  head
    meta
    title
    link(rel='stylesheet', href="//fonts.googleapis.com/css?family=Raleway")
    style(type="text/css")
      | *{box-sizing:border-box;}
      | p{font-family:sans-serif;font-size:1.2em;}
      | .link{text-align:center;font-size:1.2em;}
      | #logo a, #logo a:visited{text-decoration:none;color:white;font-family:raleway, sans-serif;font-size:1.4em;}
  body
    .mainContainer(style="background-color:#2d313a;color:white;padding:0 10px 10px 10px;")
      #logo(style="color:white;padding:15px;text-align:right;")
        a(href=`${url}`) <b>The Entrepreneurial Hub</b>
      .subContainer(style="background-color:white;color:black;padding:5px;margin:0;")
        p
          | Hello #{firstName}, <br><br>
          | You're just one step away from becoming a full member of <b>Idea-Hub</b>, the social network for entrepreneurs. To validate your account, simply click on the following link (or copy it and paste it into your web browser if that doesn't work):<br>
        a(class="link" href=`${verLink}` style="color:blue;font-family:sans-serif;text-align:center;") <center>#{verLink}</center><br><br>
        p Sincerely yours,<br><b>Idea-Hub</b> customer service<br><br>
        p
          | <small>*If you received this e-mail by accident, please ignore it. Please note that this message is automated. Inquieries sent to this e-mail won't go through. If you need to send one, use the contact form provided at <a href=#{url}>www.idea-hub.com</a>.</small>
