- const url = process.env.WEB_SERVER;

doctype html
html
  head
    meta
    title
    link(rel='stylesheet', href="//fonts.googleapis.com/css?family=Raleway")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap')
    style(type="text/css")
      | *{box-sizing:border-box;}
      | p{font-family:sans-serif;font-size:1.2rem;}
      | .link{text-align:center;font-size:1.2rem;}
      | .mainContainer{background-color:#2d313a;color:white;padding:0 15px 15px; 15px;}
      | #logo{color:white;padding:6px 15px;text-align:right;}
      | #logo a, #logo a:visited{text-decoration:none;color:rgb(131, 180, 177);font-family: "Baloo Thambi 2", raleway, sans-serif;font-size:1.8rem;margin-right:5%;}
      | .subContainer{background-color:white;color:black;padding:5px 12px;margin:0;border-radius:5px;}
      | .subContainer a{color:blue;font-family:sans-serif;text-align:center;}
  body
    .mainContainer(style="background-color:#2d313a;")
      #logo
        a(href=`${url}`) <b>idea-hub.net</b>
      .subContainer
        p
          | Hello #{firstName}, <br><br>
          | You are receiving this email because you requested a password reset. If you did not, please ignore it. To reset your password, use the link provided below. Make sure you delete this email after changing your password.<br>
        a(class="link" href=`${verLink}` style="color:blue;font-family:sans-serif;text-align:center;") <center>#{verLink}</center><br><br>
        p Sincerely yours,<br><b>idea-hub</b> customer service<br><br>
        p
          | <small>*If you received this e-mail by accident, please ignore it. Please note that this message is automated. Inquieries sent to this e-mail won't go through. If you need to send one, use the contact form provided at <a href=#{url}>www.idea-hub.net</a>.</small>
